<div class="container">
  <form action="/software" method="post" enctype="multipart/form-data">
    <div class="form-group jumbotron">
      <h2>Upload New Software</h2>
      <div class="form-group">
        <input type="text" name="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="file" name="file">
      </div>
      <div class="form-group">
        <textarea name="details" class="form-control" rows="5" id="details" placeholder="Details..."></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>